.page-index {
    background: #000506;
}
/* 适配 */
@media (max-height: 148.934vw) {
    .page-index .sec1 .box-wrapper {
        height: 140.934vw;
    }
    .page-index .arrow1 {
        bottom: 4%;
    }
}
@media (min-height: 148.935vw) {
    .page-index .sec1 .box-wrapper {
        height: 100%;
    }
    .page-index .arrow1 {
        bottom: calc(100vh - (57.6vw + 69.334vw + 6vw + 8vw) - 6vh);
    }
}
@media (max-height: 118vw) {
    .page-index .sec2 .box-wrapper {
        height: 118vw;
    }
    .page-index .arrow2 {
        bottom: 4%;
    }
}
@media (min-height: 118.001vw) {
    .page-index .sec2 .box-wrapper {
        height: 100%;
    }
    .page-index .arrow2 {
        bottom: calc(100vh - (56.267vw + (100vh - 56.267vw) * 0.684) - 8vh);
    }
}
@keyframes updown {
    0% {transform: translateY(0);}
    50% {transform: translateY(-16px);}
    100% {transform: translateY(0);}
}
.page-index .arrow {
    width: 18.267%;
    animation: updown 1s linear .3s infinite;
}
.page-index .sec1 .part1 {
    background: #000506;
}
.page-index .sec1 .part1 .box-text {
    margin-top: 5%;
}
.page-index .sec1 .part1 .box-text .title-sec1-part1 {
    top: 12%;
}
.page-index .sec1 .part1 .box-car {
    margin-top: 2%;
}
.page-index .sec1 .part1 .box-car .writeline {
    height: 26vw;
    background: url('https://uitium.uglobal.com.cn/index/whiteline.png') top left no-repeat;
    background-size: auto 100%;
}
@keyframes shine {
    0% {opacity: 1;}
    50% {opacity: 0.4;}
    100% {opacity: 1;}
}
.page-index .sec1 .part1 .box-car .blueline {
    animation: shine 2.8s ease-in-out .2s infinite;
}
.page-index .sec1 .part1 .box-car .tip-sec1-part1 {
    top: 43.6%;
}
.page-index .sec1 .part1 .box-canvas {
    height: 36vw;
}
.page-index .sec1 .part1 .box-canvas canvas {
    background: transparent;
}
.page-index .sec1 .part2 .box-text {
    margin-top: 4%;
}
.page-index .sec1 .part2 .box-text .title-sec1-part2  {
    top: 15.4%;
}
.page-index .logo {
    width: 37.6%;
}
.page-index .sec1 .part2 .box-text .logo {
    top: 72%;
}
.page-index .sec1 .part2 .box-player {
    margin-top: 1.2%;
}
.page-index .sec1 .part2 .box-player video {
    height: 69.333vw;
}
.page-index .sec1 .part2 .box-player .tip-sec1-part2 {
    margin-top: 2%;
}
.page-index .sec2 .box-player video {
    height: 56.267vw;
}
.page-index .sec2 .box-player .btn-play {
    width: 15.367%;
}
.page-index .sec2 .box-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc((100vh - 56.267vw) * 0.684);
    min-height: 72vw;
}
.page-index .sec2 .box-text {
    flex: 1;
}
.page-index .sec2 .box-text .title-sec2 {
    margin-top: 6.6%;
}
.page-index .sec2 .box-text .subtitle-sec2 {
    margin-top: 3.4%;
}
.page-index .sec2 .box-text .tip-sec2 {
    margin-top: 3.4%;
}
.page-index .sec3 .part2 .btn-toast {
    width: 9%;
    bottom: 3.6%;
}
.page-index .sec3 .part2 .btn-toast1 {
    left: 44%;
}
.page-index .sec3 .part2 .btn-toast2 {
    left: 59.6%;
}
.page-index .sec3 .part3 .modal-toast {
    width: 41.067%;
    left: 28.6%;
}
.page-index .sec3 .part3 .tip-sec3-part3 {
    bottom: 6.16%;
}
.page-index .sec3 .part4 .box-text {
    margin-top: 13%;
}
.page-index .sec3 .part4 .subtitle-sec3-part4 {
    margin-top: 5%;
}
.page-index .sec3 .part4 .box-player {
    margin-top: 9.4%;
}
.page-index .sec3 .part4 .box-player video, .page-index .sec3 .part5 .box-player video {
    height: 56.267vw;
}
.page-index .sec3 .part4 .box-tip, .page-index .sec3 .part5 .box-tip {
    margin-top: 4%;
}
.page-index .sec3 .part4 .box-cadillac {
    width: 34.134%;
    margin-top: 3.6%;
}
.page-index .sec3 .part5 {
    margin-top: 10%;
}
.page-index .sec3 .part5 .box-text {
    margin-top: 1%;
}
.page-index .sec3 .part5 .subtitle-sec3-part5 {
    margin-top: 5%;
}
.page-index .sec3 .part5 .box-player {
    margin-top: 10.2%;
}
.page-index .sec3 .part5 .box-hummer {
    width: 34.134%;
    margin-top: 5%;
}
.page-index .sec3 .part5 .box-wechat {
    margin-top: 10%;
}
.page-index .sec3 .part5 .box-wechat .icon-logo {
    width: 13.734%;
}
.page-index .sec3 .part5 .box-wechat .more {
    margin-top: 6%;
}
.page-index .sec3 .part5 .box-copyright {
    margin: 34.6% auto 11.8%;
}
